<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
  {{{body}}}
  <br/>
  <br/>
	<div class="row">
		<div class="col-xs-1"><a>Kết quả </a></div>
		<div class="col-xs-1"><input type="text" id="KQ" size ="15" readonly></div>
	</div>
</body>
</html>